{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="card m-auto mb-5 box-shadow" style="width: 75%">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.price }} руб </h4>
        </div>
        <div class="card-body">
            <!--        <img src="/media/{{ object.img }}" class="img-fluid" alt="...">-->
            <img src="{{ object.img | media_filter }}" class="img-fluid" alt="...">
<!--            <h4 class="card-title pricing-card-title">{{ object.price }} руб </h4>-->
            <ul class="list-unstyled mt-3 mb-1 text-start m-3">
                <li>описание: {{ object.description }}</li>
                <li>страна: {{ country }}</li>
                <li>наличие:
                    {% if object.in_stock %}
                    есть в наличии
                    {% else %}
                    нет в наличии
                    {% endif %}
                </li>
            </ul>
            <!--            <a href="#" type="button" class="btn btn-lg btn-block btn-outline-primary">Перейти</a>-->
        </div>
    </div>
</div>

{% endblock %}